@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --line-border-fill: #2b2b2b;
  --line-border-empty: #c4bcbc;
}

body {
  color: #fff;
  background-image: url('images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 120vh; */
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  margin: 30px;
}

/* ////////// Progress Steps ////////// */

.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-container {
  display: flex;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  width: 250px;
  max-width: 100%;
}
.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  /* left: 0; */
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  /* left: 0; */
  height: 4px;
  width: 50%;
  z-index: -1;
  transform: translateY(-50%);
  transition: 1s ease;
}

.circle {
  background-color: var(--line-border-empty);
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.5s ease 0.3s;
}

.circle.active {
  background-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 30px;
  margin: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--line-border-empty);
}

.btn:active {
  transform: scale(1.02);
}

/* ////////// Expanding Cards ////////// */
.card-container {
  display: flex;
  width: 90vw;
  height: 65vh;
}

.column {
  border-radius: 10px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  flex: 1;
  margin: 10px;
  padding-top: 20px;
  transition: flex 1s ease-in-out;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.column h3 {
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 20px;
}

li {
  margin: 10px 30px;
  padding-left: 20px;
  font-size: 20px;
}

ul {
  list-style-type: trad-chinese-informal;
}

.column.active {
  flex: 5;
  cursor: default;
}

.column.active h3 {
  font-size: 50px;
  transition: all 0.5s ease-in-out 0.5s;
}

.column.active li {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.column.non-active li {
  opacity: 0;
}

.column.non-active a {
  pointer-events: none;
  opacity: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.column ul li:hover {
  transform: scale(1.02);
  /* transition: transform 0.3s linear; */
}

@media (max-width: 640px) {
  body {
    background-repeat: repeat;
  }
  .card-container {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }
}
