@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --line-border-fill: #2b2b2b;
  --line-border-empty: #c4bcbc;
}

body {
  color: #fff;
  background-color: #949090;
  font-family: 'Roboto', sans-serif;
  margin: 50px;
  margin: 0;
}

.main-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: 1px solid white;
  border-radius: 10px;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
}

.main-container.show-nav {
  transform: rotate(-20deg);
}

.corner-container {
  position: fixed;
  top: 0px;
  left: 0px;
  top: -100px;
  left: -100px;
  z-index: 100;
  transition: transform 0.5s linear;
}

.corner {
  position: relative;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.5s linear;
}

.corner button {
  cursor: pointer;
  position: absolute;
  background: transparent;
  /* background-color: floralwhite; */
  border: 0;
  font-size: 25px;
  color: var(--line-border-fill);
}

.corner button#open {
  left: 60%;
  top: 60%;
}

.corner button#close {
  top: 65%;
  left: 30%;
  transform: rotate(75deg);
}

.corner-container.show-nav {
  transform: rotate(-75deg);
}

nav {
  position: fixed;
  bottom: 40px;
  left: -50%;
  z-index: 100;
  transition: 1s linear;
}

nav.show-nav {
  left: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 30px auto;
  font-size: 25px;
}
nav ul li i {
  margin-right: 20px;
}

nav ul li + li {
  margin-left: 15px;
}

nav ul li + li + li {
  margin-left: 30px;
}

/* ////////// Progress Steps ////////// */

h1 {
  color: #fff;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  margin: 30px;
}

.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress-btn-container {
  display: flex;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  width: 250px;
  max-width: 100%;
}
.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transform: translateY(-50%);
  transition: 1s ease;
}

.progress-circle {
  background-color: var(--line-border-empty);
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.5s ease 0.3s;
}

.progress-circle.active {
  background-color: var(--line-border-fill);
  transform: scale(1.2);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 30px;
  margin: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--line-border-empty);
}

.btn:active {
  transform: scale(1.02);
}

/* ////////// Expanding Cards ////////// */
.card-container {
  display: flex;
  width: 90vw;
  height: 65vh;
}

.column {
  border-radius: 10px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  flex: 1;
  margin: 10px;
  padding-top: 20px;
  transition: flex 1s ease-in-out;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.column h3 {
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 20px;
}

.column ul {
  list-style-type: trad-chinese-informal;
}

.column ul li {
  margin: 10px 30px;
  padding-left: 20px;
  font-size: 20px;
}

.column.active {
  flex: 5;
  cursor: default;
}

.column.active h3 {
  font-size: 50px;
  transition: all 0.5s ease-in-out 0.5s;
}

.column.active li {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.column.non-active li {
  opacity: 0;
}

.column.non-active a {
  pointer-events: none;
  opacity: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.column ul li:hover {
  transform: scale(1.02);
  /* transition: transform 0.3s linear; */
}

@media (max-width: 640px) {
  body {
    background-repeat: repeat;
  }
  .card-container {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }
}
