@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-image: url('images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  margin: 30px;
}

.container {
  display: flex;
  width: 90vw;
  height: 80vh;
}

.column {
  border-radius: 10px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  flex: 1;
  margin: 10px;
  padding-top: 20px;
  transition: flex 1s ease-in-out;
  position: relative;
  /* cursor: pointer; */
  overflow: hidden;
}

.column h3 {
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 20px;
}

li {
  margin: 10px 30px;
  padding-left: 20px;
  font-size: 20px;
}

ul {
  list-style-type: trad-chinese-informal;
}

.column.active {
  flex: 5;
  cursor: default;
}

.column.active h3 {
  font-size: 50px;
  transition: all 0.5s ease-in-out 0.5s;
}

.column.active li {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.column.non-active li {
  opacity: 0;
}

.column.non-active a {
  pointer-events: none;
  opacity: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

@media (max-width: 640px) {
  body {
    background-repeat: repeat;
  }
  .container {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
  }
}
